

<nav>
     <ul>
         <h1>
         <a href="../sklep">SKLEP</a>
         <a href="../dodaj">DODAJ</a>
         <a href="../zamowienia">ZAMÓWIENIA</a>
             <a href="../koszyk">KOSZYK</a>
             <a href="../glowna">STRONA GŁÓWNA</a>
         </h1>

     </ul>
</nav>

<center>
<div class="btn-group-lg btn-group-justified">
    <a href="../sklep" class="btn btn-primary ">SKLEP</a>
    <a href="../dodaj  " class="btn btn-primary">SKLEP + </a>
    <a href="../zamowienia" class="btn btn-primary">ZAMÓWIENIA</a>
    <a href="../koszyk" class="btn btn-primary">KOSZYK</a>
    <a href="../add_cart" class="btn btn-primary">KOSZYK + </a>
    <a href="../glowna" class="btn btn-primary">STRONA GŁÓWNA</a>
{% if user.is_authenticated %}

    <a href="../logout" class="btn btn-primary"> {{ user.username }} WYLOGUJ</a>
    {% else %}
    <a href="../login" class="btn btn-primary">ZALOGUJ</a>
    {% endif %}



</div>
</center>
</body>
