{% load bootstrap4 %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
     <ul class="nav navbar-nav">
         <h2>
         <a href="../serwis">Serwis</a>
         <a href="../createservice">Utwórz pozycję serwisową</a>
         <a href="../dodaj1">Dodaj zadanie</a>
         <a href="../waiting">Oczekujące</a>
         <a href="../ongoing">Wykonywane zadania</a>
         <a href="../done">Zakończone</a>

{#         <a href="../serwis">KOSZYK</a>#}
         </h2>

     </ul>
    </div>
</nav>