<head>
    <meta charset="UTF-8">
    <title>Serwis</title>
</head>

{% extends 'baza.html' %}
{% load bootstrap4 %}
{% block content %}
<h1>Stan serwisu:</h1>


{% for od in obiekt %}

<table class ="table table-responsive">


    <thead>
        <tr>
            <th>Nazwa Produktu lub Usługi</th>
            <th>Kod</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{od.nazwa}}</td>
        <td>{{od.code}}</td>
        <td>{{od.cena}}</td>

   </tr>
    </tbody>
</table>




{% endfor %}
{% endblock %}

