<head>
    <meta charset="UTF-8">
    <title>Serwis</title>
</head>

{% extends 'baza.html' %}
{% load bootstrap4 %}
{% block content %}
<h1>Stan serwisu:</h1>

<table>
   <tr>
<thead>
         <th>Nazwa Produktu lub Usługi</th>  <th>/</th> <th>Kod</th> <th>/</th> <th>Cena</th>
</thead>
   </tr>
</table>


{% for od in obiekt %}

<table>

       <tbody>
   </tr>
   <tr>
      <td>{{od.nazwa}} - </td>  <td>{{od.code}} - </td>  <td>{{od.cena}}</td>
   </tr>
    </tbody>
</table>




{% endfor %}
{% endblock %}

