{% extends 'baza.html' %}

{% block content %}
{% load bootstrap4 %}

<h1>Zamówienia oczekujace:</h1>


{% for od in services %}

<table class="table table-responsive">

    <thead>
        </tr>

        <th>Nazwa zadania</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Status</th>
    </thead>
        </tr>
       <tbody>

   <tr>
      <td>{{od.service_name}}</td>  <td>{{od.client_name}}</td>  <td>{{od.client_surname}}</td> <td>{{od.status}}</td>
   </tr>
    </tbody>
</table>




{% endfor %}

{% endblock %}