{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0,5">
    <title>Paltforma do zarządzania sklepem</title>
    {% block styles %}{% bootstrap_css %}{% endblock %}
    {% block scripts %}{% bootstrap_javascript jquery='slim' %}{% endblock %}

</head>
<body>
{% include 'sklep/pasek_nawigacyjny_sklep.html' %}
{% include 'serwis/nawigacja_serwis.html' %}
{% block content %}






{% endblock  %}



</body>
</html>